@use "@styles/_mixins" as *;

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
  gap: 20px;

  p {
    font-size: 16px;
    color: var(--color-02);
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.root {
  margin-top: 20.5px;
  padding-bottom: 40px;

  @media (max-width: 376px) {
    margin-top: 14px;
  }

  .backButton {
    @include headline;
    color: var(--var-color-02);
    display: flex;
    align-items: center;
    width: 100%;
    height: 27px;
    gap: 0.5px;
  }

  .container {
    margin-top: 44.5px;
    display: grid;
    grid-template-columns: 360px 760px;
    gap: 40px;

    @media (max-width: 376px) {
      margin-top: 20px;
      grid-template-columns: 343px;
      gap: 32px;
    }

    .profile {
      padding: 40px;
      width: 100%;
      background-color: var(--var-color-06);
      border-radius: 16px;

      @media (max-width: 376px) {
        padding: 28px;
      }

      .avatar {
        width: 280px;
        height: 485px;
        object-fit: cover;

        @media (max-width: 376px) {
          width: 287px;
          height: 187px;
        }
      }

      .categories {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        gap: 24px;

        @media (max-width: 376px) {
          margin-top: 28px;
        }

        .category {
          width: 100%;
          height: 34px;
          border-bottom: 1px solid var(--var-color-04);
          color: var(--var-color-03);
          @include text2-medium;
          text-align: start;

          &:hover {
            color: var(--var-color-accent);
          }
        }

        .activeCategory {
          color: var(--var-color-01);
        }
      }
    }

    .profileTabsContent {
      background-color: var(--var-color-06);
      border-radius: 16px;
      padding: 40px;

      @media (max-width: 376px) {
        padding: 28px;
      }

      .titleContent {
        @include title;
        color: var(--var-color-01);
        height: 49px;
        border-bottom: 1px solid var(--var-color-04);
      }
    }
  }
}
